a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

#anchors {
    display: flex;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);
}

body {
    font-family: Arial, sans-serif;
    background-color: #10dc9f; 
    margin: 0;
}

#container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 50px auto; 
    max-width: 600px; 
}

nav {
    display: flex;
    justify-content: center;
    background-color: #ffffff; 
    position: fixed; 
    width: 100%; 
    z-index: 1000; 
    top: 0; 
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333333; 
    margin: 0 10px; 
}

nav a:hover {
    background-color: #dddddd;
    border-radius: 5px; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8e71c; 
    margin: 0;
}

#container {
    text-align: center;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 100px auto; 
    max-width: 800px; 
}

button {
    background-color: #ff5722; 
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

button:hover {
    background-color: #ff7043; /* Laranja mais claro no hover */
}
